@media only screen and (max-width:993px) {

 
    .container{
    width:80%;
    max-width:992px;
    margin: 0 auto;
    padding: 0;
}
.mainMenu, nav, .logo{
    display: flex;
    float: none;
    margin: 0 auto;
    flex-direction: column;
}
nav .menuLinks{
    width: 100%;
    margin: 0 auto;
    padding:0;
    font-size:.8em;
}
nav .menuLinks a{
    margin: 0 auto;
    padding: 0;
}
.logo {
    width:60%;
    margin:.8% auto 1% auto;
}
 .headerContent,.leftHeader,.rightHeader{
    float: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.leftHeader h1{
    padding: 0 ;
    margin: 0;
    margin:2% auto 3% auto;
    line-height:50px;
    font-size: 2.5em;
    text-align: center;
    width: 100%;
    float: none;
    padding-top: 5%;
}
.leftHeader h5{
    width: 100%;
    padding: 0;
    padding: 2% auto;
    font-size: 1.4em;
    text-align: center;
    margin: 10% auto .5% auto;
    float: none;
}
.rightHeader img{
    float: none;
    width: 65%;
    margin: 0 auto;
}

.leftHeader .allStore{
    display:flex;
    width: 100%;
    flex-direction: row;
    margin: 6% auto 5% auto;
}
.allStore .store2{
    width:33%;
    padding:1.5% ;
    text-align: center;
    margin: 0 1% 2% auto;
}
.allStore .store1{
    width:33%;
    padding:1.5% ;
    text-align: center;
    margin: 0 auto 2% 2%;
}
/* section 2 */

.features p{
    font-size: 1.7em;
    font-weight: 300;
}
.featureContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    float: none;
}
.leftContentFeatures{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 6% auto auto auto;
    text-align: center;
    float: none;

}

.featureContent{
    margin: 5% auto auto auto;
    display:flex;
    flex-direction: column;
    float: none;
    width: 100%;

}
.leftContentFeatures{
    width: 90%;
    display: block;
    margin: 4% auto 7% auto;
    text-align: center;
    float: none;
}
.leftContentFeatures .top, .bottom{
    padding: 0;
    width: 100%;  
    display: flex; 
    flex-direction: column;
    height: auto;
    text-align: center;
    float: none;
}
.leftContentFeatures  h5{
    text-align: center;
    float: none;
    font-size: 1.5em;
    font-weight:700;  
    padding: 0;
    margin: 0;
}
.leftContentFeatures  i{
    text-align: center; 
    padding: 0;
    margin: 2% auto;
}
.leftContentFeatures  p{
    text-align: center;
    float: none;
    font-size: 1em;
    font-weight: normal;
    padding: 0;
    margin: 0;
    margin:4% auto 6% auto;
   

}

.leftContentFeatures .topLeft, .leftContentFeatures .topRight, .leftContentFeatures .bottomLeft, .leftContentFeatures .botttomRight{
   
    margin: 0 auto;
    border-style: none;
    display:flex;
    flex-direction: column;
    text-align: center;
    float: none;
    width: 100%;
    border-bottom: 1px #3333335e solid;
}

/* section 3 */
.services{
  background-repeat: no-repeat;
  background-size: cover;
}
.services h2{
font-size:2.6em;
}

.services p{
font-size:1.6em;
line-height: 40px;
margin-bottom: 1%;
}
.servicesContent{
    display: flex;
    flex-direction: column-reverse;
   width: 90%;
}

.leftContentServices{
    margin: 0 auto;
    width:95%;
    float: none;
    display: flex;
    bottom: 0%;
    position: absolute;

}


.rightContentServices{
   width: 100%;
  float: none;
   margin: 0 auto 95% auto;
   position: relatiave;
bottom:10%;
 
}
.first, .second, .third{
   width: 95%;
   box-sizing: border-box;
   float: left;
}
.servicesContent .fa-rocket, .servicesContent .fa-desktop, .servicesContent .fa-html5{   
   border-radius: 50%;
   margin: 0 ;
   padding: 25%;
   font-size: 1.8em;
   text-align: center;
}
.rightContentServices a{
font-size:1.5em;
font-weight:700;
text-align: left;
margin-left: 10%;

}
.rightContentServices p{
    margin-left: 10%;
    width: 90%;
text-align: left;
font-size: 1em;
line-height: 20px;
}



/* section4 how it work */
.howItWork h2, .leftContent , .howItWork  #fa, .rightContent, .centerContent, .howItWorkContent{
    display: flex;
    flex-direction: column;
    float: none;
    justify-content: flex-start;
    text-align: center;
    width: 90%;
    direction:ltr;
    }
    .howItWork #blot, .howItWork #blot::after, .howItWork #blot::before, #node{
        overflow: hidden;
        display: none;
        border: none;

    }
.howItWorkContent p{
    direction: ltr;
    font-size:.8em; 
    float: none;
    text-align: center;
}
.centerContent{
    margin: 4% auto;
}
.howItWork h4{
    font-size: 1.5em;
}
 /* section4 our portifilio */
 .ourPortifilio p{
     font-size: 1.5em;
 }
 /* section 5 pricing */

 .pricePayment, .priceContent, .pricingList{
     display: flex;
     flex-direction: column;
     width: 95%;
     margin: 0 auto;
 }
 .priceBasic, .pricePro, .priceAdvanced{
     width: 95%;
     font-weight: 500;
 }
 .pricePayment .priceContent p{
     font-size: 3em;
     font-weight: 700;
 }
 .priceListInformation{
     font-size: 1.7em;
     font-weight: 700;
 }
 .priceListInformation p{
     font-size: 2 em;
     font-weight: 700;
 }
 /* team member section 7 */
 .teamMembers{
     display:flex;
     margin: 0 auto;

 }
 .teamMembers{
    display:flex;
    margin: 0 auto;
}
.teamMembers .team{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.teamMembers .team>div{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    margin: 0 auto;
}
.teamMembers .team .figure1, .teamMembers .team  .figure2{
    margin: 0;
    padding: 0;
    width:90%;
    margin: 0 auto;
   
}
.teamMembers .team figure{
    margin: 0;
    padding: 0;
    margin: 2% auto;
    width: 95%;
    padding: 2%;
}
 
 .latestBlog{
    display:table-column;
    margin: 0 auto;
}

.blog .latestBlog{
    display: flex;
    margin:15% auto;
    width: 100%;
    flex-direction: column;
    padding: 10% auto;
}
.latesBlog1, .latesBlog2, .latesBlog3{
    width:90%;
    margin-top: 5%;
    padding-top: 10%;
    margin: 0 auto;
   
}


.blog{
    display: flex;
    margin: 0 auto;
    clear:both;

}
.blog .latestBlog{
    display: flex;
    margin: .3% auto;
    width: 100%;
}
.latesBlog1, .latesBlog2, .latesBlog3{
    width:90%;
    margin: 0 auto;
   
}
.blogImage{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.latesBlog1 img, .latesBlog2 img, .latesBlog3 img {
    width: 100%;
    margin: 0 auto;
}
 
.caption{
    background-color: white;
    width: 90%;
    padding: 3% 2% 0 5%;
    position: absolute;
    bottom: 0;
    left: 5%;
    right: 5%;
    
}
.caption a{
    text-decoration: none;}
.caption h6{
    margin-bottom: 3%;
    text-decoration: none;
    color: #F6B20E;
    font-family: 'Roboto Slab';
    font-size: .9em;
    text-align: left;
    padding: .3% 0;
}
.caption p{
    margin-top: 5%;
    color: #333333;
    font-family: 'Roboto Slab Light';
    font-size: 1.1em;
    text-align: left;
    
}
.comments{
    text-align: left;
    padding: 0;
    margin: 0;
}
.comments p, .comments a{
    color: #55545473;
    font-size: .9em;
    padding: .6% .2% 0 0;
    text-align: left;
    text-decoration: none;

}
.readMore{
    text-align: left;
    padding: 0;
    margin: 0;
    position: relative;
    left: 10%;
    font-size:.7em;
    font-weight: 600;
    color:#333333;
    font-family: 'Open Sans';
    margin-top: 1%;
}
.readMore a{
    border-bottom: 1px #333333 solid;
    text-decoration: none;
    padding-bottom:5px;
    color: #000000;
}


/* contact us section */

.contactUsContent{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    float: none;
    width: 100%;
}
.ContactUs p{
    font-size:1.7em;
}
.leftContentContacts{

    display:flex;
    margin: 5% auto;
    width: 90%; 
  
}
.leftContentContacts form{
    width: 95%; 
}

.leftContentContacts  #submeit{
width: 35%;
padding: 1% 2%;
font-size:.9em;
}
.rightContentContacts{
    margin: 0;
    padding: 0;
    width: 90%;
    float: left;
}
.rightContentContacts a{
width: 100%;

    font-size: 1em;
    text-align: center;
}
.first, .second, .third{
    display: flex;
    flex-direction: row;
}
.contactUsContent .fa-home, .contactUsContent .fa-envelope, .contactUsContent .fa-phone, .contactUsContent .fa-fax{
display: flex;
}
.TESTIMONIAL p{
    width: 90%;
    font-size: 1.4em;
    line-height:1.3em;
    margin-bottom: 10%;
}
.TESTIMONIAL .abstract{
    display: flex;
    flex-direction: row;
    width: 97%;
}
.TESTIMONIAL .about{
    float: left;
    margin-left: 5%;
    width:80%;

}
.TESTIMONIAL figure p{
    margin: 0;
    padding: 0;
}
.TESTIMONIAL .about p{
    font-size: .9em;
}
.blog p{
    font-size: 1.5em;
}


.caption{
 
    padding:1% 2% 0 3%;
    left: 5%;
    right: 5%;
    
}
.caption h6{
    font-size: .9em;
    text-align: left;
    font-weight: bolder;
    padding: 0;
padding-top: 3%;
}
.caption a p{
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    text-align: left;
}
.comments{
    text-align: left;
    padding:0;
    padding-top: 1%;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.comments p, .comments a{
    font-size: .9em;
    padding:  1% 5% 0 0;
    margin: 0;
    display: flex;

}

.comments .fa-clock,.comments .fa-comments{
    padding: 0;
    margin: 0;
    padding-right:8%;
}
.readMore{
    text-align: left;
    padding: 0;
    margin: 1% 0 0 0;
    position: relative;
    left: 8%;
    font-size: .8em;
    
}
 
/* download  section */
.download, .appContent, .centerContent, .downloadApp{
    display: flex;
    float: none;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}
.download .newsletter , .download .centerContent{
width: 95%;
text-align: center;
margin: 0;
padding: 0;
margin:15% auto 0 auto;
}
.download .newsletter h2{
    display: inline-flex;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    line-height: 60px;
    font-weight: bolder;
    margin: 0 auto;
}
.download .newsletter p,.download .newsletter input{
    padding: 0;
    margin: 0;
    font-size: .8em;
    line-height: 60px;
    margin:1%  auto;
}

.newsletter button{
    margin: 5% auto 0 auto;
    padding: 0;
    padding: 2% 3%;
    width: 30%;
}


.download .centerContent img{
    width:50%;
    display: flex;
}
.download .downloadApp{
    margin: 0;
    padding: 0;
    width:95%;
    margin: 0 auto;
    padding: 2% 4%;
    margin:0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.download .downloadApp button {
    margin: 0;
    padding: 0;
    width: 40%;
    padding:4% 2%;
    font-size: 1.2em;
    color: white;
     display: flex;
  margin: 0 auto;
       }
.download .downloadApp h2,p{
    margin: 0 ;
    margin: 2% auto ;
    text-align: center;
    font-size: 1em;
  
}
.download .downloadApp h2{
    margin-top: 5%;
font-weight: bolder;
font-size: 1.7em;
}
.download .downloadApp .button1{
    margin: 3% auto;
}
/* -----------social----------- */
.social .socialContent h2{
    font-size: 1.5em;
}
.social pre{
    font-size: .7em;
}
.social .topPage{
    left: 90%;
}
   
}
 /* ------------------------------- */

@media only screen and (max-width:870px) {
    .container{
        width: 80%;
        max-width: 870;
    }
      .services h2{
      font-size:2.6em;
      }
      .services p{
      font-size:1.4em;
      }  
      .services .third{
          margin-bottom: 15%;
      }
      .servicesContent .fa-rocket, .servicesContent .fa-desktop, .servicesContent .fa-html5{
         padding: 40%;

      }
      .social pre{
          font-size: .6em;
      }
    }
      


@media only screen and (max-width:814px){
.container{
    width: 95%;
    margin: 0 auto;
    max-width: 814px;
}
.services .rightContentServices{
    margin-left: 8%;
}
.services .rightContentServices a,p{
    margin:0;
}
.services .rightContentServices p{
    font-size: .9em;
    margin: 0;
    font-family: "roboto slab";
}
}